*.*~
/elpa
/request
/transient
/tramp
/anaconda-mode
/projects
/.DS_Store
/.lsp-session-*
/url/
/server/
/*.rej
/eln-cache/
/config/machine-local-config.el
/%backup%~
/.cache/
/.dap-breakpoints
/config/openai-key.el
